* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace;
}

body {
  padding: 5px;
  min-width: 560px;
  padding: 40px;
}

/* ----NAV---- */
#nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}

.nav-contents {
  display: flex;
  white-space: nowrap;
  list-style-type: none;
}

.nav-contents-object {
  display: inline-block;
  margin: 20px 40px 20px 20px;
  font-size: 20px;
  font-family: monospace;
}

/* ----MAIN CONTENT---- */
main {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
}

.hero img {
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
}

.main-content-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  padding: 25px;
  font-family: monospace;
  font-size: 16px;
  background-color: whitesmoke;
  color: palevioletred;
}
.main-content-item:first-child {
  margin-top: 20px;
}

.main-content-item h1 {
  width: 100%;
  border-bottom: 2px solid palevioletred;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  padding: 5px 0px !important;
}

code {
  margin-left: 30%;
  white-space: pre-line;
  text-align: left;
}

.my-projects{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.my-projects div {
  text-align: center;
}

.project-card {
  margin: 10px 20px;
}

.main-project {
  margin-bottom: 20px;
  border-bottom: 4px dotted palevioletred;
}

.recent-project{
  width: 30%;
}

.my-projects div img {
  border: 4px solid transparent;
}

 .project-card img:hover {
  border: 4px solid palevioletred;
}

.sub-projects{
  display: flex;
  justify-content: center;
}

/* ----CONTACT--- */
.contacts{
  text-align: center;
}

/* ----FOOTER---- */
footer {
  text-align: center;
}

/* ----MEDIA QUERIES---- */
@media screen and (max-width: 425px) {
  #nav {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 955px) {
  .sub-projects {
    flex-direction: column;
  }
  .recent-project{
    width: 60%;
  }
  #nav {
    justify-content: space-evenly;
  }
  .name {
    text-align: center;
  }
  code {
    margin-left: 20%;
  }
}